.footer {
  width: 100%;
  background-color: #2D3748;
  color: #E2E8F0;
  padding: 3rem 0 1rem 0;
  margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
}

.footer-section h3 {
  color: #FBC02D;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footer-section h4 {
  color: #FBC02D;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footer-description {
  color: #A0AEC0;
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  color: #A0AEC0;
  margin-bottom: 0.5rem;
}

.footer-section ul li button {
  font-size: 1rem;
  color: #A0AEC0;
  text-decoration: none;
  transition: color 0.2s ease;
  display: inline-block;
  padding: 0.2rem 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer-section ul li button:hover {
  color: #FBC02D;
}

.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 2rem 1rem;
  text-align: center;
  border-top: 1px solid #4A5568;
  margin-top: 2rem;
  color: #A0AEC0;
  font-size: 0.875rem;
}

.parcerias {
  display: flex;
  gap: 1.4rem;
  items-align: center;
}

@media (max-width: 968px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}




@media (max-width: 576px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .footer-section {
    text-align: center;
  }

  .footer {
    padding: 2rem 0 1rem 0;
  }
  
  .parcerias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


